// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FFFFEA;
$light-yellow: #FFFFF9;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F8F8FF;
$blackboard: #3B686E;
$off-white: #F6F6F6;


