<div span style="margin-top: 50px;"><div class="container">
<p>Thanks for registering your interest with using Speakitt</p>
<p>We will be in touch when it is ready to use</p>
<%= link_to "Return to homepage", root_path %>
</div>
</div>
