.fa-user-times:before {
    color: $gray;
    text-decoration: none;
}

.fa-comment {
    color: #284D5D;
    text-decoration: none;
}

.fa-arrow-right {
    color:$green;
    text-decoration: none;
}

.teacher-icon {
  width: 70px;
}
