<div class="mistakes-header">
      <div class ="homework-header"><h4>Homework:</h4></div>
        <div>
          <p>Listen to your conversation again and think about your mistakes.</p><p>Write a comment for each mistake with a correction of what you should have said.</p>
        </div>
      </div>
