<div class="lesson-wrapper course-wrapper">
      <div class="row">
        <div class="col-xs-5">
          <div class="info">
            <div class="info-label">Course</div>
            <p><%= @course.name %></p>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="info">
            <div class="info-label">School</div>
            <p><%= @course.school %></p>
          </div>
        </div>
      </div>
    </div>
